# cache
company-statistics-cache.el
.cache/

# session
.session

# auto-save
auto-save-list/

# downloads
/elpa

# tutorial
tutorial/

# smex
smex-items

# transient
transient/

# projectile
projectile-bookmarks.eld

# tmp files
recentf
network-security.data

# eshell
eshell/

# lsp session
.lsp-session*

# semantic
semanticdb/

# url caches
url/

# playground
playground.el
playground.org

# cider
cider-history

# custom.el
custom.el

# org
.mc-lists.el

# test
test.el

# srecode
srecode-map.el

# game
games/
speed-type/
xkcd/

# git repos
.repo/

# anki
request/

# java
meghanada/

# quelpa
quelpa/